{
  "extends": "universe/native",
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_",
      },
    ],
    "arrow-body-style": ["warn", "always"],
  },
}
